@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

.icons {
	width: 3rem;
	height: 3rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.icons-small {
	width: 2.5rem;
	height: 2.5rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.project {
	width: 20rem;
	margin-bottom: 1rem;
	padding: 0.5rem;
	border-radius: 20px;
	background-color: #f3f4f6;
}

.projectPhoto {
	background-color: #d9d9d9;
	height: 9rem;
	border-radius: 20px;
}

.projectTitle {
	margin-top: 0.5rem;
	margin-left: 0.5rem;
	font-weight: bold;
}

.projectDescription {
	margin-left: 0.5rem;
	margin-bottom: 0.2rem;
}

.projectButton {
	height: 2.25rem;
	width: 8rem;
	border: 2px solid #1e1e1e;
	border-radius: 20px;
	margin: 0.5rem;
}

.projectButton:hover {
	background-color: #1e1e1e;
	color: #f3f4f6;
}

.sendButton {
	height: 2.25rem;
	width: 20rem;
	border: 2px solid #1e1e1e;
	border-radius: 20px;
	margin: 0.5rem;
}

.sendButton:hover {
	background-color: #1e1e1e;
	color: #f3f4f6;
}
