@import 'src/theme';

.container {
	align-items: center;
	> h2 {
		color: $text-secondary;
		margin: 0;
		text-shadow: 0px 0px 8px rgba(16, 223, 236, 0.5);
	}

	h3 {
		margin-top: 0;

		margin-bottom: 0;
	}

	&__techSection {
		margin-top: 1em;
	}

	&__tech {
		margin-top: 0.3rem;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.5em;
		row-gap: 0.4em;
	}
}
