@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

$primary-background: #181818;
$primary: #10dfec;
$text-primary: #d1d1d1;
$text-secondary: #10dfec;
